<main>
  <div id="parchment"></div>
  <bn-config-util assetPath="./assets/bnqkl-web-component/"></bn-config-util>

  <section>
    <h2>Has-More Text</h2>
    <bn-has-more-text
      text="qaqqqaqqqqaqqqqaqqqqaqqqaqqqqaqqqqaqqqqaqqqqaqqqqaqqqqaqqqqaqqq飒飒飞洒发顺丰案说法阿发qaqqqqaqqqqaqqqqaqqq飒飒飞洒发顺丰案说法阿发qaqqqqaqqqqaqqqqaqqqqaqqqqaqqqqaqqqqaqqq飒飒飞洒发顺丰案说法阿发"
    ></bn-has-more-text>
  </section>

  <section>
    <h2>Picture Model-Viewer</h2>
    <bn-picture-model-viewer
      src="https://avatars.githubusercontent.com/u/2151644"
      style="width: 5em; height: 5em"
    ></bn-picture-model-viewer>
  </section>
</main>
<svg>
  <filter id="wavy2">
    <feTurbulence
      x="0"
      y="0"
      baseFrequency="0.02"
      numOctaves="5"
      seed="1"
    ></feTurbulence>
    <feDisplacementMap in="SourceGraphic" scale="20" />
  </filter>
</svg>
