dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.pem

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/
/src/components.d.ts
/src/components/*/stories/autogen.ts

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env