:host {
  display: block;
}
.count {
  color: cyan;
}
.reply-button{
  background: #F1F2F3;
  border-radius: 12px;
  border: 1px solid #F1F2F3;
  height: 1.714em;
  // width: 6.214em;
  padding: 0 0.86em;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    font-size: 0.86em;
  }
  .reply{
    margin:0 0.285em;
  }
  ion-icon{
    font-size: 0.86em;
  }
}
