:host {
  display: grid;
  grid: 1fr/1fr;
  grid-template-areas: "view";
  > * {
    grid-area: 1/1;
  }
}

:host([lazy-state="sleep"]) {
  .weakup {
    z-index: 0;
  }
  .sleep {
    z-index: 1;
  }
}

.weakup,
.sleep {
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

:host([lazy-state="weakup"]) {
  .sleep {
    opacity: 0;
    pointer-events: none;
  }
}
