:host {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: inherit;

  --line-clamp: 5;
  --line-height: 1.25em;
  --avator-size: 2.3em;
}
.avator {
  display: flex;
  flex-shrink: 0;
  margin-right: 0.5em; //替换gap不生效
  img {
    width: var(--avator-size);
    height: var(--avator-size);
    border-radius: 50%;
    overflow: hidden;
  }
}
.comment {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  > .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    // gap: 0.5em;
    > .name {
      font-size: 0.9em;
      font-weight: 600;
      margin-right: 0.5em; //替换gap不生效
    }
    > .flag {
      display: flex;
      align-items: center;
      flex-direction: row;
      .flag-badge {
        border: 0.55px solid #acb5bf;
        border-radius: 1em;
        padding: 0.2em 0.6em;
        font-size: 0.6em;
        line-height: 1em;
        color: #acb5bf;
        &:empty {
          display: none;
        }
      }
    }
  }
  > .time {
    color: #acb5bf;
    font-size: 0.8em;
  }
}

.text-wrapper {
  font-size: 1em;
  margin-top: 0.3em;

  .text {
    display: -webkit-box;
    overflow: hidden;
    line-height: var(--line-height);
    line-break: anywhere;
    transition-duration: 250ms;
    text-align: justify;
    &.fold {
      text-overflow: ellipsis;
      -webkit-line-clamp: var(--line-clamp);
      -webkit-box-orient: vertical;

      /* 虽然已经有line-clamp了，但是为了兼容，还是要加上max-height */
      max-height: calc(var(--line-clamp) * var(--line-height));
    }
  }
}
.fold-btn {
  all: unset;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;

  width: 50%;
  text-align: right;
  height: calc(1 * var(--line-height));
  line-height: var(--line-height);

  cursor: pointer;
  color: #3e93fa;
  background-image: linear-gradient(-45deg, #fff, transparent);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  &.fold {
    height: calc(2 * var(--line-height));
    margin-top: calc(-2 * var(--line-height));
  }
}

.actions-bar {
  display: flex;
  flex-direction: column;

  padding-top: 0.5em;

  .actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5em;
    > .left-actions {
      display: flex;
    }
    > .right-actions {
      display: flex;
      //
    }
  }
}
