:host {
  display: flex;

  /*这里和icon-button保持一致的基本风格*/
  .icon {
    display: grid;
    grid: 1fr/1fr;
    grid-template-areas: "count";
    justify-items: center;
    align-items: center;
    .path {
      grid-area: count;
    }
  }
  ::slotted(*),
  .label {
    font-size: var(--label-font-size, 1em);
    line-height: var(--label-line-height, 0);
  }
  .label:empty {
    display: none;
  }
}

:host([direction="lr"]) {
  flex-direction: row;
  align-items: center;
  ::slotted(*),
  .label {
    --label-line-height: var(--row-line-height, 0);
  }
}
:host([direction="tb"]) {
  flex-direction: column;
  align-items: center;
  ::slotted(*),
  .label {
    --label-line-height: var(--column-line-height, 1);
  }
}
