$ccc-small-down-path1: "\e902";
$ccc-small-down-path2: "\e903";
$ccc-paper-plane-path1: "\e904";
$ccc-paper-plane-path2: "\e905";
$ccc-cancel-path1: "\e908";
$ccc-cancel-path2: "\e909";
$ccc-link-path1: "\e90a";
$ccc-link-path2: "\e90b";
$ccc-warning-path1: "\e911";
$ccc-warning-path2: "\e912";
$ccc-eye-path1: "\e913";
$ccc-eye-path2: "\e914";
$ccc-big-currency: "\e900";
$ccc-history: "\e901";
$ccc-collection: "\e906";
$ccc-circle-diamond: "\e907";
$ccc-comment: "\e90c";
$ccc-share: "\e90d";
$ccc-check: "\e90e";
$ccc-dislike: "\e90f";
$ccc-like: "\e910";
