:host {
  display: inline-grid;
  grid: 1fr/1fr;
  grid-template-areas: "img";
  overflow: hidden;
}
img {
  grid-area: img;
  width: 100%;
  height: 100%;
  &.error {
    opacity: 0;
  }
}
.slotter {
  grid-area: img;
  z-index: 1;
  display: none;
  &.show {
    display: block;
  }
}
// .alt {
//   grid-area: img;
//   margin: 0;
//   padding: 0;
//   border: 0;
//   visibility: hidden;

//   line-height: 1;
//   text-align: center;
//   align-self: end;
//   justify-self: center;

//   z-index: 1;
//   &.show {
//     visibility: visible;
//   }
// }
