:host {
  display: inline-block;
}
.img-viewbox {
  display: block;
  --size: 2em;
  --ratio: 1;
  width: var(--width, calc(var(--height, var(--size)) * var(--ratio)));
  height: var(--height, calc(var(--width, var(--size)) / var(--ratio)));
  // aspect-ratio: ;
  overflow: hidden;
  background-repeat: no-repeat;
  animation-fill-mode: forwards;
  &.playing {
    // animation-play-state: running;
    &.lr,
    &.rl {
      animation-name: ani-row;
    }
    &.tb,
    &.bt {
      animation-name: ani-column;
    }
  }
  &.pause {
    animation-play-state: paused;
  }
  &.finish {
    animation-delay: -2s;
  }

  &.lr,
  &.rl {
    /// 铺满高度，宽度溢出
    background-size: auto 100%;
  }
  &.tb,
  &.bt {
    /// 铺满宽度，高度溢出
    background-size: 100% auto;
  }

  /// 逆序动画
  &.rl,
  &.bt {
    animation-direction: reverse;
  }
}

@keyframes ani-row {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

@keyframes ani-column {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 100%;
  }
}
