:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.tab-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
::slotted([slot="tab"]) {
  cursor: pointer;
}

::slotted([data-ccc-slider-tabs="disabled"]) {
  cursor: unset;
}

.cursor {
  /// 布局
  margin-top: 0.2em;
  height: 0.25em;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  pointer-events: none;

  // 样式
  contain: strict;
  --cursor-from-left: 0;
  --cursor-from-right: 0;
  --cursor-to-left: 50%;
  --cursor-to-right: 50%;
  padding-left: var(--cursor-to-left, 0);
  padding-right: var(--cursor-to-right, 0);
  width: 100%;
  display: flex;

  // 动画
  --cursor-left-in-easing: cubic-bezier(0.22, 0.61, 0.36, 1); //Out · Cubic
  --cursor-left-out-easing: cubic-bezier(0.55, 0.06, 0.68, 0.19); //In · Cubic
  --cursor-right-in-easing: cubic-bezier(0.55, 0.06, 0.68, 0.19);
  --cursor-right-out-easing: cubic-bezier(0.22, 0.61, 0.36, 1);
  --cursor-duration: 250ms;
  transition-duration: var(--cursor-duration);
  animation-fill-mode: forwards;
  animation-duration: var(--cursor-duration);
  > .spirit {
    flex: 1;
    height: 100%;
    contain: strict;

    --cursor-start-color: #1e80f7;
    --cursor-end-color: #3fbdfc;
    background-image: linear-gradient(to right, var(--cursor-start-color), var(--cursor-end-color));
    border-radius: 0.25em;
    margin: 0 12%;
  }
}

// @keyframes ccc-slider-tabs-cursor-scale {
//   0% {
//     transform: scaleX(1) translateX(var(--cursor-from-left));
//     width: var(--cursor-old-width);
//   }
//   50% {
//     transform: scaleX(var(--cursor-max-scale));
//   }
//   100% {
//     transform: scaleX(1) translateX(var(--cursor-to-left));
//     width: var(--cursor-to-width);
//   }
// }
