:host {
  display: flex;
  align-items: center;
}
::slotted([slot="tab"]) {
  cursor: pointer;
  flex-shrink: 0;
}

// /**
//  * 禁用它的点击事件
//  * 当滚动还是会触发，所以开发者还是需要根据触发
//  */
// ::slotted(:disabled) {
//   pointer-events: none;
// }
