:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.tab-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
::slotted([slot="tab"]) {
  cursor: pointer;
}

// /**
//  * 禁用它的点击事件
//  * 当滚动还是会触发，所以开发者还是需要根据触发
//  */
// ::slotted(:disabled) {
//   pointer-events: none;
// }
