:host {
  scroll-snap-type: x mandatory;
  overflow: auto;
  display: flex;
  flex-direction: row;
  scrollbar-width: 0;
}
:host::-webkit-scrollbar {
  display: none;
}
::slotted([slot="slider"]) {
  scroll-snap-align: center;
  flex-shrink: 0;
  pointer-events: none;
}

::slotted([data-ccc-slider="actived"]) {
  pointer-events: unset;
}
